@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header{
  height: 80px;
  @include blockParams;
  color: $textColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid $underlineColor;
}
.burger{
 position: absolute;
 top:50px;
 right: 60px;
 cursor: pointer;
}
.buger_img{
  display: none; 
}
.burger_header_navigation{
  display: none;
}
.menu{
 @include menuParams;
}
.item_menu{
  margin-left: 20px;
  height: 30px;
  &:hover{
    color: $underlineColor;
    border-bottom: 1px solid $textColor;
  }
}

@media screen and (max-width: 1019px){
  .buger_img{
    display: block;
  }
  .header_navigation{
    display: none;
  }
  .burger_header_navigation{
    display: block;
  }
    .header{
    height: 100%;
  }
}
