@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.burger_menu{
  @include menuParams;
  @include blockParams;
  flex-direction: column;
  background-color: $textColor;
 padding-top: 10px;
}
.burger_item_menu{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: $underlineColor; 
   line-height: 30px;
   box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;     
  &:hover{   
   color:$bgBlock;   
  }
}
.burger_menu_block{
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
 }
.burger_first_child{
  @include burgerMenuChild;
}
.burger_second_child{
  @include burgerMenuChild;
}
.chevron_img{
 @include chevron(90deg);
}
.chevron_img_rotate{
  @include chevron(270deg);
}
.link_burger_menu{
  padding-left: 5px;
  text-decoration: none;
  color:$underlineColor;
  &:hover{
    color:$bgColor;
  }
}
.link_item_menu{
  text-decoration: none;
  color:$textColor;
  &:hover{
    color:$underlineColor;
  }
}

@media screen and (max-width: 380px){
  .burger_menu{
    margin:0 10px 10px 10px;
  }
  .burger_menu_block{
    margin-right: 10px;
  }
}