@import "./styles/variables.scss";
@import "./styles/mixins.scss";
body{
  background: $bgColor;
  margin: 0;
  padding: 0;
}
.main{
  width: 1020px;
  margin: 0 auto;
  color: $textColor;
}
  @media screen and (max-width: 1019px){
    .main{
      width: 100%;
    }
  }